.bottomMenu {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 15rem;
  height: 4rem;
  background: white;
  border: 1px solid #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: right 1s;
  margin: 1rem;
  font-size: 2rem;
}
.hide {
  opacity: 0;
  right: -100%;
}
.show {
  opacity: 1;
  right: 0;
}
